black>=22.3.0
flake8>=3.9.2
pandas-stubs>=1.2.0.58
pre-commit>=2.15.0
pyright>=1.1.244
pytest>=6.2.4
pytest-asyncio>=0.17.2
sphinx>=4.4.0
# Building docs currently fails with 1.16.0 and up, so use 1.15.3 for now.
sphinx-autodoc-typehints==1.15.3
sphinx-book-theme>=0.2.0
myst-parser>=0.16.1
wheel