.table a {
    text-underline-offset: 4px;
    font-family: ui-monospace;
    color: inherit;
    font-weight: bold;
    font-size: 0.875em;
    word-break: initial;
    text-decoration-thickness: 2px;
}

p a {
    color: black;
}

.table td {
    padding-left: 0px;
}

.sidebar-item-container {
    text-transform: uppercase;
    font-weight: bold;
}

code {
    font-family: ui-monospace;
    font-size: 0.875em;
    color: rgb(18, 18, 18);
}

p,h1,h2,h3,#toc-title,#toc-function-reference,.nav-link,.table {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.navbar-title {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-weight: bold;
    animation: color-change 5s infinite !important;
}

@keyframes color-change {
    0% { color: #7e4fdf; }
    50% { color: #df4c00; }
    100% { color: #7e4fdf; }
}

[id^=table-creation] td a:after {
    content: "()"
}

[id^=creating-or-modifying] td a:after {
    content: "()"
}

[id^=formatting-column-data] td a:after {
    content: "()"
}

[id^=modifying-columns] td a:after {
    content: "()"
}

[id^=location-targeting] td a:after {
    content: "()"
}

[id^=helper-functions] td a:after {
    content: "()"
}

[id^=value-formatting] td a:after {
    content: "()"
}

#toc-title {
    font-size: 20px;
}

#quarto-margin-sidebar nav ul {
    font-size: 16px;
    padding-top: 5px;
}

#quarto-margin-sidebar nav ul li  {
    padding-top: 3px;
}

#navbarCollapse > ul.navbar-nav.navbar-nav-scroll.me-auto > li > a:hover {
    background-color: rgb(240, 112, 0);
    color: white;
    border-radius: 5px;
}
